.idea
./py_cad_modules/z3_engine.py
simplifier/build/
simplifier/simplifier
cpp_math_engine/build/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

logs/

check_bridge.py
/*.png

INTEGRATION_ARCHITECTURE.md

sandbox.py

symengine/

tmp/
/outputs/

*.so

*.tex

